 .u-section-1 {
  background-image: url("images/dd3-min.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: 237px 0 0 370px;
}

.u-section-1 .u-image-1 {
  width: 212px;
  height: 212px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -142px 421px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px 0 60px auto;
  padding: 18px 63px 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50.85% 46.55%;
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 54.6% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-image-1 {
    margin-right: 328px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 53.21% 53.43%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    margin-right: 128px;
  }
} .u-section-2 {
  min-height: 535px;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 535px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 101px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 101px 30px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 100px 30px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 441px;
  }

  .u-section-2 .u-text-1 {
    animation-duration: 1500ms;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-3 {
    animation-duration: 1500ms;
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-5 {
    animation-duration: 1500ms;
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1013px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1103px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 58px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  margin: 27px auto 0 0;
  padding: 11px 39px 12px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-shape-1 {
  height: 424px;
  background-image: none;
  margin-top: 27px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-image-1 {
  width: 470px;
  height: 436px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -443px 0 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 469px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 469px;
}

.u-section-3 .u-container-layout-4 {
  padding: 21px 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-shape-2 {
  width: 115px;
  height: 115px;
  background-image: linear-gradient(to right, #e68387, #f5d654);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-shape-1 {
    height: 377px;
  }

  .u-section-3 .u-image-1 {
    width: 384px;
    height: 375px;
    margin-top: -376px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 387px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-3 .u-shape-1 {
    height: 303px;
    margin-top: 61px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 293px;
    margin-top: -302px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -59px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 511px;
  }

  .u-section-3 .u-shape-2 {
    width: 109px;
    height: 109px;
    margin-left: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 560px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    height: 462px;
    width: 503px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 500px;
    height: 462px;
    margin-top: -454px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 370px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-3 .u-shape-1 {
    height: 271px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 268px;
    margin-top: -293px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-4 .u-shape-1 {
  width: 673px;
  height: 652px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(#adcce9, #f1b5b8);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -800px 94px 0 auto;
}

.u-section-4 .u-image-1 {
  height: 770px;
  width: 763px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -198px auto 0 35px;
}

.u-section-4 .u-group-1 {
  width: 467px;
  min-height: 549px;
  background-image: linear-gradient(to right, #f5d654, #f1b5b8);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -436px 0 -88px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  background-image: none;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  margin: 35px auto 0 0;
  padding: 11px 39px 12px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-4 .u-shape-1 {
    width: 583px;
    height: 548px;
  }

  .u-section-4 .u-shape-2 {
    width: 190px;
    height: 190px;
    margin-top: -666px;
    margin-right: 59px;
  }

  .u-section-4 .u-image-1 {
    height: 744px;
    width: 630px;
    margin-top: -190px;
  }

  .u-section-4 .u-group-1 {
    width: 401px;
    margin-top: -392px;
    margin-bottom: -58px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 42px;
  }

  .u-section-4 .u-shape-2 {
    width: 152px;
    height: 152px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 745px;
  }

  .u-section-4 .u-group-1 {
    min-height: 526px;
    margin-top: -278px;
    margin-bottom: -114px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-4 .u-shape-1 {
    width: 468px;
    height: 441px;
    margin-top: 55px;
  }

  .u-section-4 .u-shape-2 {
    width: 134px;
    height: 134px;
    margin-top: -602px;
  }

  .u-section-4 .u-image-1 {
    height: 602px;
    width: 490px;
    margin-top: -141px;
    margin-left: 15px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -163px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-4 .u-shape-1 {
    height: 251px;
    width: 324px;
    margin-top: 45px;
  }

  .u-section-4 .u-shape-2 {
    width: 97px;
    height: 97px;
    margin-top: -364px;
  }

  .u-section-4 .u-image-1 {
    height: 267px;
    width: 308px;
    margin-top: -12px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-bottom: -68px;
    min-height: 505px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 876px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 756px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 9px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 32px 0;
}

.u-section-5 .u-shape-1 {
  width: 494px;
  height: 476px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 0 21px;
}

.u-section-5 .u-image-1 {
  width: 499px;
  height: 465px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -466px auto 0 50px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 756px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-list-1 {
  margin: 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 533px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
}

.u-section-5 .u-list-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(#e68387, #f5d654);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.61;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -57px auto 0 114px;
}

.u-section-5 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px 0 0 114px;
}

.u-section-5 .u-list-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(#e68387, #f5d654);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.61;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -57px auto 0 114px;
}

.u-section-5 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px 0 0 114px;
}

.u-section-5 .u-list-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(#e68387, #f5d654);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.61;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -57px auto 0 114px;
}

.u-section-5 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px 0 0 114px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 707px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    height: 444px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 452px;
    height: 400px;
    margin-top: -434px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-shape-1 {
    height: 349px;
    width: 336px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 319px;
    margin-top: -339px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-5 .u-icon-1 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-5 .u-icon-2 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-5 .u-icon-3 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-5 .u-shape-1 {
    height: 385px;
    width: 416px;
    margin-left: 37px;
  }

  .u-section-5 .u-image-1 {
    width: 466px;
    height: 361px;
    margin-top: -375px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-shape-1 {
    height: 293px;
    width: 320px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .u-section-5 .u-image-1 {
    width: 330px;
    height: 293px;
    margin-top: -293px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 96px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 96px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 810px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 670px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-6 .u-icon-1 {
  width: 104px;
  height: 104px;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.4;
  margin: 105px auto 0 0;
  padding: 21px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -89px 0 0 134px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 670px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-image-1 {
  height: 485px;
  width: 489px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 473px;
  height: 467px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.27;
  margin: -440px auto 0 20px;
}

.u-section-6 .u-group-1 {
  min-height: 233px;
  width: 350px;
  background-image: linear-gradient(to right, #f1c50e, #f1b5b8);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -104px 0 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 7px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -88px;
    margin-right: 7px;
    margin-left: 128px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 706px;
  }

  .u-section-6 .u-image-1 {
    height: 437px;
    width: 440px;
    margin-top: 21px;
  }

  .u-section-6 .u-image-2 {
    width: 410px;
    height: 430px;
    margin-top: -392px;
    margin-left: 30px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -107px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1602px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-bottom: 16px;
    margin-left: 134px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 847px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 604px;
    width: 697px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    height: 596px;
    width: 700px;
    margin-top: -555px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 259px;
    width: 394px;
    margin-top: -174px;
    margin-right: 43px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 129px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 700px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 468px;
    width: 540px;
  }

  .u-section-6 .u-image-2 {
    height: 459px;
    margin-top: -409px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    margin-top: -101px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-3 {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 619px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    width: 80px;
    height: 79px;
    margin-left: 10px;
    padding: 16px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin: -69px 0 11px 123px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-6 .u-image-1 {
    height: 295px;
    width: 340px;
    margin-top: 24px;
  }

  .u-section-6 .u-image-2 {
    height: 274px;
    margin-top: -274px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 304px;
    margin-top: -66px;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: url("images/mmm.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-7 .u-group-1 {
  width: 782px;
  min-height: 311px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-7 .u-image-1 {
  height: 616px;
  width: 515px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0 0;
}

.u-section-7 .u-list-1 {
  width: 1034px;
  margin: -461px 0 0 auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 234px;
  grid-gap: 32px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px;
}

.u-section-7 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px;
}

.u-section-7 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-7 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-image-2 {
  width: 149px;
  height: 166px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -539px 86px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-7 .u-group-1 {
    width: 712px;
    min-height: 367px;
  }

  .u-section-7 .u-image-1 {
    height: 510px;
    width: 426px;
    margin-top: 29px;
  }

  .u-section-7 .u-list-1 {
    width: 880px;
    margin-top: -355px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 213px;
  }

  .u-section-7 .u-image-2 {
    --animation-custom_in-translate_x: -300px;
    height: 167px;
    margin-top: -718px;
    margin-right: 0;
    margin-bottom: 753px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    height: 609px;
    width: 590px;
    margin-top: 173px;
  }

  .u-section-7 .u-list-1 {
    width: 580px;
    margin-top: -458px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 473px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -780px;
    margin-bottom: 673px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-image-1 {
    height: 423px;
    width: 469px;
  }

  .u-section-7 .u-list-1 {
    width: 461px;
    margin-top: -198px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -833px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1496px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    height: 263px;
    width: 263px;
  }

  .u-section-7 .u-list-1 {
    width: 231px;
    margin-top: -184px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 739px;
  }

  .u-section-7 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-10 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-image-2 {
    width: 113px;
    height: 127px;
    margin-top: -956px;
    margin-bottom: 889px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 843px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 2.75rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 0.875rem;
  margin: 31px auto 0 0;
  padding: 11px 39px 12px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-group-1 {
  min-height: 663px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#f5d654, #f1b5b8);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin: 0 2px 0 0;
}

.u-section-8 .u-form-1 {
  height: 466px;
  margin: 23px 5px 0 0;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}